@font-face {
    font-family: 'futura_bold';
    src: url('fonts/futurabq-bold-webfont.eot');
    src: url('fonts/futurabq-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurabq-bold-webfont.woff') format('woff'),
         url('fonts/futurabq-bold-webfont.ttf') format('truetype'),
         url('fonts/futurabq-bold-webfont.svg#futura_bqregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_book';
    src: url('fonts/futurabq-book-webfont.eot');
    src: url('fonts/futurabq-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurabq-book-webfont.woff') format('woff'),
         url('fonts/futurabq-book-webfont.ttf') format('truetype'),
         url('fonts/futurabq-book-webfont.svg#futura_bqregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaMedium';
    src: url('fonts/futura_medium_bt-webfont.eot');
    src: url('fonts/futura_medium_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futura_medium_bt-webfont.woff') format('woff'),
         url('fonts/futura_medium_bt-webfont.ttf') format('truetype'),
         url('fonts/futura_medium_bt-webfont.svg#FuturaMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
