@charset "utf-8";

/* RESET CSS */
/* ----------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
b, strong { font-weight:bold; }
i, em { font-style:italic; }
article, aside, figure, footer, header, hgroup,
menu, nav, section { display:block; }
figure { margin:0; }


@font-face {
    font-family: 'LeagueGothic';
    src: url('font/league_gothic-webfont.eot?') format('eot'),
         url('font/league_gothic-webfont.woff') format('woff'),
         url('font/league_gothic-webfont.ttf') format('truetype'),
         url('font/league_gothic-webfont.svg#webfontWDLxxRdj') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body { margin:0; padding:0; overflow:hidden; -webkit-font-smoothing: antialiased; font-family:Arial,Helvetica, sans-serif; }
a { text-decoration:none; transition: color .2s linear; -moz-transition: color .2s linear; -o-transition: color .2s linear; -webkit-transition: color .2s linear; }

.loader { width:100%; height:100%; position:absolute; background:url(/img/loader.gif) center 30% no-repeat; z-index:9999; top:0; left:0; opacity:.70; filter:alpha(opacity=70); filter:"alpha(opacity=70)"; }

nav.home { clear:both; position:relative; width:100%; height:50px; z-index:999; margin-top:70px; }
nav.other { position:absolute; top:5%; width:100%; z-index:999; }
nav.home ul { margin:0 auto; width:auto; clear:both; }
nav.other ul { margin:0 auto; width:240px; }
.current { opacity:.40; filter:alpha(opacity=40); filter:"alpha(opacity=40)"; padding:10px; font-family: 'LeagueGothic'; color:#000; font-size:22px; text-decoration:none; text-transform:uppercase;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
nav li { display:inline; }
nav li a { padding:10px; font-family: 'LeagueGothic'; color:#FFF; font-size:22px; text-decoration:none; text-transform:uppercase; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;text-shadow:1px 1px 0 rgba(0,0,0,.3); }
nav li a:hover { background-color: #aed3dc; background-image: none; text-shadow:1px 1px 0 #999; }


.panel { position:absolute; width:100%; height:100%; overflow:hidden;}
#panel-01 { top:0;  background:url(/img/orange.png) #fba921; }
#panel-02 { top:100%;  background: url(/img/lightblue.png) #b9d7e1; }
#panel-03 { top:200%;   background: url(/img/bluegray.png) #d0e3e2; margin-bottom:30px;}

/* TESTO */
p { font-size:14px; color:#FFF; line-height:22px; }
h1 { font-family: LeagueGothic; text-transform:uppercase; font-size:95px; letter-spacing: 3px; color:#FFF; text-shadow: 2px 2px 1px rgba(0,0,0,.2); font-weight: normal; }
.ie7 h1 { text-shadow: 2px 2px 1px #903e26; }
h1 span { font-family:Georgia, "Times New Roman", Times, serif; margin:0 -10px; color:#903e26; text-shadow: none; text-transform:none; }

h1.costruzioni { font-size:100px; color:#903E26; }
h2 { font-family: 'LeagueGothic'; text-transform:uppercase; font-size:37px; letter-spacing: 1px; color:#903e26; font-weight: normal; text-shadow: 1px 1px 0px rgba(255,255,255,.2); }
h3 { font-family: 'LeagueGothic'; font-size:28px; letter-spacing: 1px; color:#999; font-weight: normal; margin:10px 0 10px 0; clear:both; }
#contacts h2 { color:#3B331E; font-size:34px; }
.content h2 { color:#666; margin-bottom:10px; font-size:34px; }

.content p { color:#000; }
#contacts a { color:#3B331E; text-shadow: 1px 1px 0px #A19984; }

/* CONTENT */
header { position:absolute; top:30%; left:50%; width:650px; height:330px; margin:-165px 0 0 -325px; text-align:center;}
header h2 { font-size:30px;margin:0 10px; text-shadow:none; display:none;}
header h2 img{ position:relative; top:4px; padding:0 4px;}

.bottom{
	position:absolute;
	bottom:0px; left:50%;
	width:600px;
	margin-left:-300px; 
	border:1px solid gray; 
	text-align:center;
	padding:4px;
	font-size:14px;
	-webkit-border-top-left-radius: 08px;
	-webkit-border-top-right-radius: 08px;
	-moz-border-radius-topleft: 08px;
	-moz-border-radius-topright: 08px;
	border-top-left-radius: 08px;
	border-top-right-radius: 08px;
	background:#ddd;
	line-height:24px;
}
.bottom a{
	color:#000;
	font-style:italic;
}

/* CHI SIAMO */
.content { position:absolute; top:50%; left:50%; width:800px; height:440px; margin:-220px 0 0 -400px; }

#clientlist{
	padding:36px 16px 54px;
	margin-bottom:100px;
} #clientlist a {
		display:inline-block;
		width:300px;
		text-align:center;
} #clientlist a img{
			width:100%;
}
/* background img*/
.background_img{
	position:absolute;
	width:100%;
	height:auto;
}
.portrait .background_img{
	width:auto;
	height:100%;
}

input, textarea { transition: all .2s linear; -moz-transition: all .2s linear; -o-transition: all .2s linear; -webkit-transition: all .2s linear; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size:13px; }
input {
	margin-bottom:10px;
	width:380px;
	padding:12px;
	font-family:Arial, Helvetica, sans-serif;
	border:none;
	
	color:#999;
}
input:focus, textarea:focus {
	color:#333;
}
textarea{
	width:380px;
	height: 100px;
	padding:12px;
	font-family:Arial, Helvetica, sans-serif;
	border:none;
	resize:none;
	color:#999;
}

label {
	margin-right:20px;
	margin-top:6px;
	padding:0;
	color:#FFF;
	display:block;
	float:left;
	text-align:right;
	width:70px;
	font: 20px LeagueGothic, Helvetica, Arial, Sans-Serif;
	text-transform:uppercase;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 800px) {
	
	html, body { overflow:auto; -webkit-text-size-adjust:auto; }
	nav { display:none; }
	#panel-01, #panel-02, #panel-03 { position:relative; top:0; width:100%; height:auto; overflow:hidden; margin:0; }
	#panel-01 { height:230px; }
	#panel-01 .background_img{ height:auto;width:100%;}
	.panel .background_img{display:none;}
	
	header {
		position:relative;
		left:0;
		top:0;
		height:auto;
		margin:0 auto;
		text-align:center;
		width:80%;
		padding:0;
		overflow:hidden;
		margin-top:24px;
	}
	header img { display:none; }
	header h2 {
		float:none;
	}
	h1 {
		font-size:60px;
	}
	h1.costruzioni {
		font-size:77px;
	}
	h2 {
		font-size:28px;
	}
	
	.content {
		position:relative;
		width:80%;
		height:auto;
		margin:40px auto;
		left:0;
		top:0;
	}
	#azienda {
		clear:both;
		width:100%;
		height:auto;
		margin:20px 0;
		padding-bottom:40px;
	}
	
	input, textarea{
		margin-bottom:10px;
		width:90%;
		padding:20px 5%;
		font-size:1em;
	}
	label {
		margin:20px 0 10px 0;
		padding:0;
		clear:both;
		text-align:left;
		width:100%;
	}
	
	
	
	
}

@media only screen and (max-width: 600px) {
	
	body { font-size:100%; }
	#panel-01 { height:200px; }
	header { width:100%; }
	h1 { font-size:2.5em; }
	h1.costruzioni { font-size:3.1em; }
	h2 { font-size:1.1em; }
	.bottom {width:300px; margin-left:-150px;}

	
}
